Repository Dedicatus546/markdown-it-enhancer: changes, and which Codecov flags are due for each by the changed paths.
All: core, entities, linkify-it, md-url, plugin-abbr, plugin-anchor, plugin-attrs

codecov.yml:

coverage:
  status:
    project: true
    patch: true
    changes: true

flags:
  core:
    paths:
      - packages/core
    carryforward: true
  entities:
    paths:
      - packages/entities
    carryforward: true
  linkify-it:
    paths:
      - packages/linkify-it
    carryforward: true
  md-url:
    paths:
      - packages/md-url
    carryforward: true
  plugin-abbr:
    paths:
      - packages/plugin-abbr
    carryforward: true
  plugin-anchor:
    paths:
      - packages/plugin-anchor
    carryforward: true
  plugin-attrs:
    paths:
      - packages/plugin-attrs
    carryforward: true


comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

refactor(plugin/attrs): 去除 console
  packages/plugin-attrs/test/g.test.ts
Due: plugin-attrs

fix: 修复流水线
  .github/workflows/coverage.yml
Due: none

fix: 修正流水线
  .github/workflows/coverage.yml
Due: none

chore: 修正 codecov 配置文件
  codecov.yml
Due: none

refactor(core): 去除 Parser 上的无用原型对象
  packages/core/src/parser_block.ts
  packages/core/src/parser_core.ts
  packages/core/src/parser_inline.ts
Due: core

chore(core): 更新 README
  packages/core/README.md
Due: core

docs: 更新文档
  docs/.vitepress/config.ts
  docs/guide/breaking-change.md
  docs/guide/build-in-plugins.md
  docs/guide/create-plugin.md
  docs/guide/getting-started.md
  docs/guide/plugins.md
Due: none

chore: 更新 README
  packages/core/README.md
  packages/entities/README.md
  packages/linkify-it/README.md
  packages/md-url/README.md
  packages/plugin-abbr/README.md
  packages/plugin-anchor/README.md
  packages/plugin-attrs/README.md
  packages/plugin-container/README.md
  packages/plugin-deflist/README.md
  packages/plugin-emoji/README.md
  packages/plugin-footnote/README.md
  packages/plugin-for-inline/README.md
  packages/plugin-implicit-figures/README.md
  packages/plugin-ins/README.md
  packages/plugin-katex/README.md
  packages/plugin-link-attributes/README.md
  packages/plugin-magic-link/README.md
  packages/plugin-mark/README.md
  packages/plugin-sub/README.md
  packages/plugin-sup/README.md
  packages/plugin-table-of-contents/README.md
  packages/plugin-task-lists/README.md
  packages/punycode/README.md
  packages/shared/README.md
  packages/test-toolkit/README.md
  packages/uc-micro/README.md
Due: core, entities, linkify-it, md-url, plugin-abbr, plugin-anchor, plugin-attrs

chore: 删除无用文件
  TODO.md
Due: none

chore: 调整依赖
  lerna.json
  package.json
  pnpm-workspace.yaml
Due: none

chore: 修正打包脚本
  package.json
Due: none

chore: 更新 gitignore
  .gitignore
Due: none

chore: 更新依赖
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: 修正包无法提交
  packages/core/package.json
  packages/entities/package.json
  packages/linkify-it/package.json
  packages/md-url/package.json
  packages/plugin-abbr/package.json
  packages/plugin-anchor/package.json
  packages/plugin-attrs/package.json
  packages/plugin-container/package.json
  packages/plugin-deflist/package.json
  packages/plugin-emoji/package.json
  packages/plugin-footnote/package.json
  packages/plugin-for-inline/package.json
  packages/plugin-implicit-figures/package.json
  packages/plugin-ins/package.json
  packages/plugin-katex/package.json
  packages/plugin-link-attributes/package.json
  packages/plugin-magic-link/package.json
  packages/plugin-mark/package.json
  packages/plugin-sub/package.json
  packages/plugin-sup/package.json
  packages/plugin-table-of-contents/package.json
  packages/plugin-task-lists/package.json
  packages/punycode/package.json
  packages/shared/package.json
  packages/test-toolkit/package.json
  packages/uc-micro/package.json
Due: core, entities, linkify-it, md-url, plugin-abbr, plugin-anchor, plugin-attrs

chore: 更新 docs
  docs/guide/breaking-change.md
Due: none

chore(plugin/link-attributes): 修正包名
  packages/plugin-link-attributes/package.json
Due: none
